body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  text-align: center;
}

h1 {
  color: #ece81a;
  background-color: #6eceb2;
}

#dark {
  color: #ece81a;
  background-color: #01426a;
}
