 body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  text-align: center;
}

h1 {
  color: white;
  background-color: #6eceb2;
}

#dark {
  color: white;
  background-color: #01426a;
}

#blue {
  color: white;
  background-color: #74ccb4;
}

#neon {
  color: white;
  background-color: #ECE816;
}

#pink {
  color: white;
  background-color: #F93348;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
